<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="PowershellGallery" value="https://www.powershellgallery.com/api/v2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- d2l/private injected by codeartifact github action -->
    <packageSource key = "d2l/private">
        <package pattern="*" />
    </packageSource>
    <packageSource key = "PowershellGallery">
        <package pattern="NetApp.*" />
    </packageSource>
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>