<?xml version="1.0" encoding="us-ascii"?>
<packages>
    <package id="Pester" version="5.7.1" />
    <package id="PowerShellLogging" version="3.3.0.11" />
    <package id="PowershellStdLib" version="0.13.1.54" />
    <package id="PowerShellExpanse" version="6.0.0.45" />
    <package id="PowerShellParallelHelpers" version="0.2.2.8" />
    <package id="NetApp.ONTAP" version="9.13.1.2306" />
</packages>
